---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';
@import 'custom'; // variables for bootstrap

$z-index-navbar: 10;
$footer-height: 60px;

// easton imports from minima, names changed
$font-family-sans-serif: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-family-base:       $font-family-sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;
$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);
$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.17rem;
$font-size-h4: 1rem;
$font-size-h5: 0.83rem;
$font-size-h6: 0.67rem;

// @import 'bootstrap-4.0.0-alpha.6/bootstrap';
@import 'bootstrap-4.1/bootstrap';
@import 'minima';

// Width of the content area

// easton commented
// body {
//   margin-bottom: $footer-height;
// }

// .site-header {
//   left: 0;
//   position: fixed;
//   right: 0;
//   top: 0;
//   z-index: $z-index-navbar;
// }

body > .site-header + .container {
  // padding: 60px 15px 0;
  padding: 15px;
}

.container {
  max-width: 800px;
}

.site-footer {
  background-color: $gray-lightest;
  bottom: 0;
  // height: $footer-height;
  // line-height: 60px;
  // position: absolute;
  width: 100%;

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;

    > li {
      display: inline-block;
      list-style-type: none;
    }
  }
}

// to_top.css
#toTop {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
}

#toTop:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
}

// easton
.post-tag {
    display: inline-block;
    background: rgba(106, 159, 181, 0.15);
    padding: 0.5rem;
    margin-right:.5rem;
    border-radius: 4px;
    color: #6a9fb5;
    font-family: "PT Sans", Helvetica, Arial, sans - serif;
    font-size: 90%;
    -webkit-transition: all 0.1 s ease - in -out;
    -moz-transition: all 0.1 s ease - in -out;
    transition: all 0.1 s ease - in -out
}

.post-tag:hover {
    text-decoration: none;
    background: #6a9fb5;
    color: #fff
}

.post-date {
    display: inline-block;
    font-size: 80%;
    color: #9a9a9a;
    margin: 0;
    padding: 0
}

h1
{
    border-bottom:1px solid #CCC;
    width:100%;
    //float:left;
    padding-bottom:3px;
}

table {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
}
